body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7f4;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #d6f1eb;
}

.content {
    max-width: 50%;
}

h2 {
    font-size: 18px;
    color: #555;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #333;
    margin: 10px 0 20px;
    line-height: 1.5;
}

button {
    padding: 10px 20px;
    background-color: #006f54;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #004f3b;
    transform: scale(1.05);
}


.image img {
    max-width: 100%;
    height: auto;
}

.vision-future {
    padding: 60px 20px;
    background-color: rgb(205, 231, 238);
    
}

.vision-future h2 {
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 20px;
}

.vision-future p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 40px;
    max-width: 800px;
    
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: left;
}

.blue-card {
    background-color: #eaf4ff;
}

.green-card {
    background-color: #e8f7eb;
}

.yellow-card {
    background-color: #fff8e1;
}

.icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.blue-card .button {
    background-color: #007bff;
}

.green-card .button {
    background-color: #28a745;
}

.yellow-card .button {
    background-color: #ffc107;
}

.button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
